/* main.css



*/


html{
	height: 100%;
}

body{
	height: 100%;
}

#screencontainer{
	width: 100%;
	height: 100%;
	position: relative;
}

#gamescreencontainer{
	width: 100%;
	height: 100%;
	position: absolute;
}

#background{
	width: 100%;
	height: 90%;
	position: absolute;
	
	background-image: url('../assets/background.png');
	background-color: lightblue;
	background-repeat: repeat-x;
	background-position: 0% 100%;
}

#sky{
	width: 100%;
	height: 100%;
	position: absolute;	

}

#ceiling{
	width: 100%;
	position: absolute;
	background-image: url('../assets/ceiling.png');
	background-repeat: repeat-x;
	height: 16px;
	top: 0;
	animation: ceilingMove 5000ms linear infinite;
	-webkit-animation: ceilingMove 5000ms linear infinite;
}

#ground{
	width: 100%;
	position: absolute;
	background-image: url('../assets/ground.png');
	background-repeat: repeat-x;
	bottom: 40px;
	height: 30px;
	animation: groundMove 5000ms linear infinite;
	-webkit-animation: groundMove 5000ms linear infinite;
}

#sprite{
	left: 150px;
	top: 300px;
}

.spriteIcon{
	width: 50px;
	height: 50px;
	position: absolute;
	background-image: url('../assets/sprite.gif');
	
	/* temporary animation 
	animation: spriteMove 5000ms linear infinite;
	-webkit-animation: spriteMove 5000ms linear infinite; */
}

#pipe{
	width: 52px;
	height: 100%;
	position: absolute;
	
	background-image: url('../assets/pipes.png');
	
}

.pipeBottom{
	width: 52px;
	position: absolute;

	background-image: url('../assets/pipe_bottom.png');
}


.pipeTop{
	width: 52px;
	position: absolute;
	background-image: url('../assets/pipe_top.png');
}

@keyframes ceilingMove {
   0% { background-position: 0px 0px; }
   100% { background-position: -400px 0px; }
}

@-webkit-keyframes ceilingMove {
   0% { background-position: 0px 0px; }
   100% { background-position: -400px 0px; }
}

@keyframes groundMove {
   0% { background-position: 0px 0px; }
   100% { background-position: -400px 0px; }
}

@-webkit-keyframes groundMove {
   0% { background-position: 0px 0px; }
   100% { background-position: -400px 0px; }
}

@keyframes spriteMove {
   0% { background-position: 0px 0px; }
   100% { background-position: 0px 100px; }
}

@-webkit-keyframes spriteMove {
   0% { background-position: 0px 0px; }
   100% { background-position: 0px 100px; }
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

