/* main.css



*/
html{
	height: 100%
}

body{
	height: 100%
}

#screencontainer{
	width: 100%;
	height: 100%;
	position: relative;
}

#gamescreencontainer{
	width: 100%;
	height: 100%;
	position: absolute;
}