/* main.css



*/
html{
	height: 100%
}

body{
	height: 100%
}

#screencontainer{
	width: 100%;
	height: 100%;
	position: relative;
}

#gamescreencontainer{
	width: 100%;
	height: 100%;
	position: absolute;
}

#background{
	width: 100%;
	height: 100%;
	position: absolute;
	
	background-image: url('../assets/background.png');
	background-color: lightblue;
	background-repeat: repeat-x;
	background-position: 0% 100%;
}

#sky{
	width: 100%;
	position: absolute;	
}

#ceiling{
	width: 100%;
	position: absolute;
	background-image: url('../assets/ceiling.png');
	background-repeat: repeat-x;
	height: 30px;
}

#ground{
	width: 100%;
	position: absolute;
	background-image: url('../assets/ground.png');
	background-repeat: repeat-x;
	bottom: 0;
	height: 20px;
	
}

#sprite{
	position: 0px 0px;
}

.spriteIcon{
	width: 34px;
	height: 24px;
	position: absolute;
	background-image: url('../assets/sprite.png');
 
}

